body {
  font-family: 'Cera pro', sans-serif;
  color: #11223c;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: 'Cera pro black', sans-serif;
  font-size: 44px;
  line-height: 46px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Cera pro black', sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 32px;
  margin-bottom: 10px;
  font-family: 'Cera pro bold', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 18px;
  margin-bottom: 10px;
  font-family: 'Cera pro bold', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  line-height: 24px;
}

a {
  font-family: 'Cera pro medium', sans-serif;
  color: #537e27;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  display: inline-block;
  max-width: 100%;
  border-radius: 3px;
}

strong {
  font-family: 'Cera pro medium', sans-serif;
  font-weight: 700;
}

.bg-video {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-bottom: 105px;
  background-image: none;
  text-align: center;
}

.full-video {
  height: 100%;
  font-family: 'Cera pro light', sans-serif;
  font-weight: 400;
}

.nav {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  background-color: #194e29;
  box-shadow: 0 -1px 16px 0 rgba(17, 34, 60, .4);
  font-family: 'Cera pro light', sans-serif;
  color: #fff;
  text-align: center;
}

.sontent-section {
  position: absolute;
  left: 0px;
  top: 100%;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  margin-top: -105px;
}

.content {
  position: relative;
  display: block;
}

.footer {
  padding-top: 40px;
  padding-bottom: 165px;
  background-color: #eeeff1;
}

.homepage-logo {
  position: absolute;
  left: 7%;
  top: 0px;
  z-index: 1001;
  display: block;
}

.nav-link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 3%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #fff;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.nav-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;
}

.nav-link.subnavlink {
  margin-right: 1%;
  margin-bottom: 25px;
  margin-left: 1%;
  padding: 10px 1%;
  border-bottom-color: transparent;
  font-size: 21px;
  line-height: 20px;
}

.nav-link.subnavlink.w--current {
  border-bottom: 2px solid hsla(0, 0%, 100%, .5);
  color: #fff;
  text-decoration: none;
}

.nav-link.subnavlink.w--current:hover {
  color: #fff;
}

.body {
  background-color: #fafafa;
  font-family: 'Cera pro', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.body.thank-you-page-body {
  background-color: #194e29;
}

.nav-menu {
  display: block;
  float: none;
}

.nav-menu.nav-menu-sub {
  padding-top: 15px;
  padding-right: 8%;
  padding-bottom: 5px;
  font-family: 'Cera pro light', sans-serif;
}

.logo {
  border-radius: 0px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  cursor: pointer;
}

.logo:hover {
  -webkit-transform: scale(1.03) translate(0px, 5px);
  -ms-transform: scale(1.03) translate(0px, 5px);
  transform: scale(1.03) translate(0px, 5px);
}

.scroll {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #81b649;
  color: #11223c;
  font-size: 14px;
  line-height: 14px;
  cursor: s-resize;
}

.scroll:hover {
  text-decoration: none;
}

.nav-sub {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #194e29;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .25);
  text-align: right;
}

.nav-logo {
  height: 175px;
  border-radius: 0px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.nav-logo:hover {
  -webkit-transform: scale(1.045) translate(0px, 4px);
  -ms-transform: scale(1.045) translate(0px, 4px);
  transform: scale(1.045) translate(0px, 4px);
}

.nav-logo-link {
  position: relative;
  z-index: 1;
  height: 83px;
  padding-top: 0px;
  padding-left: 5%;
  float: left;
  cursor: pointer;
}

.page-sub {
  margin-top: 90px;
  padding: 50px;
  background-color: #fafafa;
  font-weight: 400;
}

.footer-sub {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-bottom: 20px;
  background-color: #194e29;
  color: #fff;
}

.home-body {
  background-color: #fafafa;
  font-family: 'Cera pro', sans-serif;
  color: #11223c;
  font-size: 18px;
}

.footer-link {
  display: inline;
  font-family: 'Cera pro', sans-serif;
  color: hsla(0, 0%, 100%, .5);
  line-height: 14px;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link.homefooterlink {
  color: rgba(17, 34, 60, .8);
}

.footer-row-sub {
  margin-top: 30px;
}

.event-cal-block {
  display: inline-block;
  width: 150px;
  height: 150px;
  float: left;
  border: 1px solid #194e29;
  border-radius: 3px;
  color: #fff;
}

.event {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.event-info-block {
  margin-left: 170px;
}

.event-info {
  margin-bottom: 10px;
}

.event-location {
  margin-bottom: 0px;
  padding-top: 5px;
  font-family: 'Cera pro bold', sans-serif;
  font-size: 16px;
}

.event-title {
  margin-top: 0px;
  font-family: 'Cera pro medium', sans-serif;
}

.event-title.subtitle {
  margin-top: -5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Cera pro medium', sans-serif;
  font-weight: 400;
  text-align: left;
}

.month {
  padding: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #194e29;
  font-family: 'Cera pro bold', sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.day {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  border: 1px none #194e29;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #11223c;
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
}

.time {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #194e29;
  font-family: 'Cera pro medium', sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.shareformbuttom {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #81b649;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.shareformbuttom:hover {
  background-color: #194e29;
  text-decoration: none;
}

.shareformbuttom.sharebuttom {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.social {
  margin-top: 30px;
}

.thayer-logo {
  padding-right: 100px;
  padding-left: 0px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.address {
  margin-bottom: 0px;
  padding-right: 25px;
  padding-left: 25px;
  color: hsla(0, 0%, 100%, .5);
  font-size: 14px;
  line-height: 24px;
  font-weight: 100;
}

.address.homeaddress {
  padding-top: 2px;
  padding-right: 0px;
  padding-left: 0px;
  color: rgba(17, 34, 60, .8);
}

.event-nav {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 1%;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: rgba(17, 34, 60, .05);
  text-align: center;
}

.event-nav-month {
  display: inline-block;
  width: 5.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  background-color: #81b649;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Cera pro light', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.event-nav-month:hover {
  background-color: #194e29;
  text-decoration: none;
}

.video {
  margin-top: 40px;
  margin-bottom: 40px;
}

.give-button {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  padding: 15px 25px;
  border-radius: 3px;
  background-color: #81b649;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .25);
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #fff;
  text-align: center;
}

.give-button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  text-decoration: none;
}

.give-button.price {
  display: inline-block;
  margin: 8px 4px 4px;
  padding: 5px 15px;
  float: none;
  background-color: #194e29;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.give-button.price:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.give-button.price.other {
  display: block;
  margin-top: 8px;
  margin-right: 4px;
  margin-left: 4px;
}

.give-button.price.other:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.give-button.one-time {
  padding: 15px 30px 20px;
  background-color: #81b649;
  box-shadow: none;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.give-button.one-time:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.give-button-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.give-button-block.onetime {
  margin-top: 24px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 3px;
  background-color: #eff0f1;
}

.button-top {
  margin-top: 3px;
  font-family: 'Cera pro medium', sans-serif;
  color: #194e29;
  font-size: 16px;
  line-height: 16px;
}

.button-bottom {
  padding-top: 5px;
  font-family: 'Cera pro bold', sans-serif;
  font-size: 35px;
  line-height: 35px;
}

.button-bottom.one-time {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 33px;
}

.timeline-event {
  position: relative;
  left: 10px;
  display: block;
  width: 100%;
  margin: 20px 0px;
  padding: 20px 10px;
  border-radius: 3px;
  background-color: rgba(17, 34, 60, .03);
}

.timeline-year {
  margin-top: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  font-size: 30px;
  line-height: 36px;
}

.timeline-nav {
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: rgba(17, 34, 60, .05);
  text-align: center;
}

.history-timeline-links {
  display: inline-block;
  width: 22%;
  margin: 1%;
  padding: 15px 20px;
  border-radius: 3px;
  background-color: #81b649;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
}

.history-timeline-links:hover {
  background-color: #194e29;
  text-decoration: none;
}

.button-side {
  margin-top: 40px;
  text-align: right;
}

.mapimg {
  display: block;
  margin: 40px auto 50px;
}

.chart {
  margin-top: 50px;
  margin-bottom: 50px;
}

.photo-vision {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
  border-radius: 3px;
  background-color: rgba(17, 34, 60, .05);
}

.photo-vision-item {
  width: 25%;
  float: left;
  border-radius: 3px;
}

.photo-vision-cap {
  margin-left: 25%;
  padding-left: 40px;
  color: rgba(17, 34, 60, .8);
}

.hompagetitle {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  text-align: center;
}

.thayer-photo {
  width: 34%;
  float: right;
}

.hometext {
  width: 60%;
  margin-bottom: 20px;
}

.hometext.home-test-top {
  width: 100%;
}

.hometext.text-quote {
  padding-right: 15px;
  padding-left: 15px;
  border-left: 6px solid rgba(17, 34, 60, .9);
  font-family: 'Cera pro medium', sans-serif;
}

.vision-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-share-link-page {
  margin-top: 20px;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}

.share-button-icons {
  margin-top: 20px;
  text-align: center;
}

.thankyou {
  text-align: center;
}

.thankyou.hide {
  display: none;
}

.thankyou.title {
  margin-bottom: 40px;
}

.share-link-text {
  font-family: 'Cera pro bold', sans-serif;
}

.share-block {
  padding-top: 40px;
  padding-bottom: 40px;
}

.spread-the-word {
  display: none;
}

.gift-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eff0f1;
}

@media (max-width: 991px) {
  .bg-video {
    background-image: url('../images/microsite-mobile-static-image.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .full-video {
    display: none;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 145px;
  }
  .homepage-logo {
    height: 350px;
  }
  .nav-link:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .logo:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .nav-sub {
    padding-right: 3%;
    padding-left: 3%;
  }
  .event-info {
    font-size: 16px;
    line-height: 22px;
  }
  .event-location {
    font-size: 14px;
    line-height: 22px;
  }
  .event-title {
    font-size: 26px;
    line-height: 30px;
  }
  .event-title.subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .thayer-logo {
    padding-right: 10px;
    padding-left: 10px;
  }
  .address {
    padding-right: 35px;
    padding-left: 35px;
    line-height: 20px;
  }
  .address.homeaddress {
    padding-right: 10px;
    padding-left: 10px;
  }
  .event-nav-month {
    font-size: 16px;
    line-height: 16px;
  }
  .give-button.one-time {
    padding-right: 20px;
    padding-left: 20px;
  }
  .button-bottom.one-time {
    font-size: 33px;
  }
  .history-timeline-links {
    width: 22%;
  }
  .button-side {
    margin-top: 10px;
    text-align: center;
  }
  .photo-vision-item {
    width: 30%;
  }
  .photo-vision-cap {
    margin-left: 30%;
  }
  .hometext.bottom {
    width: 100%;
  }
}

@media (max-width: 767px) {
  body {
    background-color: #fafafa;
  }
  .bg-video {
    margin-bottom: 70px;
  }
  .sontent-section {
    margin-top: -70px;
  }
  .content {
    padding-right: 20px;
    padding-left: 20px;
  }
  .content.thanks {
    padding-bottom: 30px;
  }
  .footer {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 320px;
  }
  .homepage-logo {
    position: absolute;
    height: 250px;
  }
  .nav-link {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 19px;
    line-height: 20px;
  }
  .nav-link.subnavlink {
    margin: 10px 2%;
    font-size: 19px;
    line-height: 19px;
  }
  .body {
    background-color: #fafafa;
  }
  .nav-menu.nav-menu-sub {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    float: right;
    font-size: 14px;
    text-align: center;
  }
  .nav-sub {
    position: absolute;
  }
  .nav-logo {
    display: none;
    float: none;
  }
  .nav-logo-link {
    display: block;
    height: 90px;
    padding-left: 0%;
    float: none;
    background-image: url('../images/Thayer150-phone.svg');
    background-position: 50% 0px;
    background-size: auto 90px;
    background-repeat: no-repeat;
    text-align: center;
  }
  .page-sub {
    margin-top: 150px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: transparent;
  }
  .page-sub.onetime {
    padding-bottom: 0px;
  }
  .event-info {
    font-size: 16px;
    line-height: 22px;
  }
  .event-location {
    font-size: 14px;
    line-height: 22px;
  }
  .thayer-logo {
    padding-right: 60px;
    padding-left: 60px;
  }
  .address {
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    line-height: 23px;
    text-align: center;
  }
  .address.homeaddress {
    padding-top: 10px;
    text-align: center;
  }
  .event-nav-month {
    width: 13%;
  }
  .give-button.one-time {
    padding-right: 20px;
    padding-left: 20px;
  }
  .give-button-block.onetime {
    border-radius: 0px;
  }
  .button-bottom.one-time {
    font-size: 33px;
  }
  .timeline-event {
    left: 0px;
  }
  .history-timeline-links {
    width: 45%;
  }
  .photo-vision-item {
    display: block;
    width: 60%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    float: none;
  }
  .photo-vision-cap {
    margin-bottom: 0px;
    margin-left: 0%;
    padding-left: 0px;
  }
  .hompagetitle {
    text-align: center;
  }
  .subtitle {
    font-size: 19px;
    text-align: center;
  }
  .thayer-photo {
    display: block;
    width: 60%;
    margin: 0px auto 30px;
    padding-left: 0px;
    float: none;
  }
  .hometext {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .share-block {
    padding-top: 0px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 38px;
  }
  li {
    font-size: 18px;
  }
  .bg-video {
    margin-bottom: 120px;
  }
  .sontent-section {
    margin-top: -120px;
  }
  .footer {
    height: 150px;
    padding-top: 0px;
  }
  .homepage-logo {
    height: 225px;
  }
  .nav-link {
    padding-right: 6%;
    padding-left: 6%;
  }
  .nav-link.subnavlink {
    margin: 1% 1% 1% 0%;
    padding: 2%;
    font-size: 14px;
    line-height: 14px;
  }
  .nav-menu {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
  }
  .nav-menu.nav-menu-sub {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nav-sub {
    position: fixed;
    padding-right: 0px;
    padding-left: 0px;
  }
  .page-sub {
    margin-top: 135px;
  }
  .event-cal-block {
    display: block;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    float: none;
  }
  .event-info-block {
    top: 0px;
    margin-left: 0px;
  }
  .event-title.subtitle {
    font-family: 'Cera pro bold', sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
  .thayer-logo {
    padding-right: 15px;
    padding-left: 15px;
  }
  .address {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
  }
  .address.homeaddress {
    padding-top: 12px;
    font-size: 12px;
    line-height: 20px;
  }
  .event-nav-month {
    font-size: 14px;
    line-height: 14px;
  }
  .give-button {
    padding-right: 20px;
    padding-left: 20px;
  }
  .give-button.price {
    margin-top: 4px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;
    line-height: 22px;
  }
  .give-button.one-time {
    padding: 9px;
  }
  .give-button-block {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .give-button-block.onetime {
    padding: 25px;
  }
  .button-bottom.one-time {
    font-size: 27px;
    line-height: 28px;
  }
  .history-timeline-links {
    width: 45%;
    margin-top: 2%;
    font-size: 16px;
    line-height: 16px;
  }
  .button-side {
    padding-right: 0px;
    padding-left: 0px;
  }
  .mapimg {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .photo-vision {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
  }
  .photo-vision-item {
    width: 100%;
  }
  .photo-vision-cap {
    font-size: 14px;
    line-height: 20px;
  }
  .thayer-photo {
    width: 100%;
  }
  .gift-section {
    padding: 10px;
  }
}

@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro.woff') format('woff'), url('../fonts/Cera-Pro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cera pro thin';
  src: url('../fonts/Cera-Pro-Thin-Italic.woff') format('woff'), url('../fonts/Cera-Pro-Thin-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Cera pro black';
  src: url('../fonts/Cera-Pro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Cera pro regular';
  src: url('../fonts/Cera-Pro-Regular-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Cera pro medium';
  src: url('../fonts/Cera-Pro-Medium-Italic.woff') format('woff'), url('../fonts/Cera-Pro-Medium-Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Cera pro thin';
  src: url('../fonts/Cera-Pro-Thin.woff') format('woff'), url('../fonts/Cera-Pro-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Cera pro medium';
  src: url('../fonts/Cera-Pro-Medium.woff') format('woff'), url('../fonts/Cera-Pro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Cera pro black';
  src: url('../fonts/Cera-Pro-Black-Italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Cera pro light';
  src: url('../fonts/Cera-Pro-Light-Italic.woff') format('woff'), url('../fonts/Cera-Pro-Light-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Cera pro light';
  src: url('../fonts/Cera-Pro-Light.woff') format('woff'), url('../fonts/Cera-Pro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Cera pro bold';
  src: url('../fonts/Cera-Pro-Bold.woff') format('woff'), url('../fonts/Cera-Pro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Cera pro bold';
  src: url('../fonts/Cera-Pro-Bold-Italic.woff') format('woff'), url('../fonts/Cera-Pro-Bold-Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Cera pro';
  src: url('../fonts/Cera-Pro-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}