<div class="event w-clearfix" id="{{ page.id }}">
  <div class="event-cal-block">
    <div class="month">{{ page.month }}</div>
    <div class="day">{{ page.day }}</div>
    <div class="time">{{ page.time_range }}</div>
  </div>
  <div class="event-info-block">
    <h2 class="event-title">{{ page.title }}</h2>
    <h3 class="event-title subtitle">{{ page.subtitle }}</h3>
    <p class="event-info">{{ page.description }}</p>
    <a class="button w-button" href="{{ page.rsvp_link }}">RSVP</a>
    <p class="event-location">{{ page.location }}</p>
  </div>
</div>
