{% for event in page.events %}
<div class="event w-clearfix" id="{{ event.id }}">
  <div class="event-cal-block">
    <div class="month">{{ event.month }}</div>
    <div class="day">{{ event.day_range }}</div>
    <div class="time">{{ event.time_range }}</div>
  </div>
  <div class="event-info-block">
    <h2 class="event-title">{{ event.title }}</h2>
    <h3 class="event-title subtitle">{{ event.subtitle }}</h3>
    <p class="event-info">{{ event.description_html }}</p>
    {% unless event.rsvp_link == nill %}
    <a class="button w-button" href="{{ event.rsvp_link }}">RSVP</a>
    {% endunless %}
    <p class="event-location">{{ event.location }}</p>
  </div>
</div>
{% endfor %}
